@(controller: HomeController) @main("Welcome to Play Schwimmen") {
@defining(play.core.PlayVersion.current) { version =>
<body class="game-body">
  <body class="game-body" id="gameBody">
    <nav
      class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark"
      id="navBar"
    >
      <span class="navbar-brand mb-0 h1">
        <img
          src="assets/images/top-bild.png"
          width="30"
          height="30"
          class="d-inline-block align-top"
          alt=""
        />
        Schwimmen
      </span>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link active" href="/"
              >Rules <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown1"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Game
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
              <a
                class="dropdown-item btn-save"
                id="save-xml"
                onclick="savexml('saveXml')"
                href="#"
                >Save Xml</a
              >
              <a
                class="dropdown-item btn-save"
                id="save-json"
                onclick="savejson('saveJson')"
                href="#"
                >Save Json</a
              >
              <a
                class="dropdown-item btn-load"
                id="load-xml"
                onclick="loadxml('loadXml')"
                href="#"
                >Load Xml</a
              >
              <a
                class="dropdown-item btn-load"
                id="load-json"
                onclick="loadjson('loadJson')"
                href="#"
                >Load Json</a
              >
            </div>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown2"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Edit
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
              <a
                class="dropdown-item btn-undo"
                id="undo-click"
                onclick="undo('r')"
                href="#"
                >Undo</a
              >
              <a
                class="dropdown-item btn-redo"
                id="redo-click"
                onclick="redo('z')"
                href="#"
                >Redo</a
              >
            </div>
          </li>
          <li>
            <button
              class="btn btn-primary navbuttonstyle"
              type="button"
              data-toggle="collapse"
              data-target="#multiCollapseExample1"
              aria-expanded="false"
              aria-controls="multiCollapseExample1"
            >
              Stats
            </button>
          </li>
        </ul>
      </div>
    </nav>
    <div style="margin-top: 5em; margin-left: 2em">
      <div class="row">
        <div class="col-12 col-sm-6">
          <div class="collapse multi-collapse" id="multiCollapseExample1">
            <div class="card card-body">
              <table class="table navtable">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">HasKnocked</th>
                    <th scope="col">Lives</th>
                  </tr>
                </thead>
                <tbody>
                  @if(controller.controller.playerAmount > 1) {
                  @for(index <- 0 until controller.controller.playerAmount) {
                  <tr>
                    <th scope="row" class="namestartupper">
                      @controller.controller.players(index).name
                    </th>
                    <td class="namestartupper">
                      @controller.controller.players(index).hasKnocked
                    </td>
                    <td>@controller.controller.players(index).life</td>
                  </tr>
                  } }
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="player-body" id="player-href"></div>

    <div class="game-player-body" id="game-player-body"></div>

    <div class="board-body" id="help">
      <div class="game-state" id="boardBody">
        <h2 class="h2" id="player-amoutn-label">
          <div class="row">
            <div class="col-1 col-sm-2"></div>
            <div class="form-group col-10 col-sm-8 classgamestate">
              <label class="label1gamestat1" id="first-label"></label>
              <label class="label2gamestat1" id="second-label"></label>
              <div id="pl_am_name_textfield"></div>
            </div>
            <div class="col-1 col-sm-2"></div>
          </div>
          <div class="row">
            <div class="col-4 col-sm-4"></div>
            <div class="col-4 col-sm-4" id="amount-btn">
            </div>
            <div class="col-4 col-sm-4"></div>
          </div>
        </h2>
      </div>
    </div>
  </body>
</body>
} }
